## Name: Mayuri Patel

Exam Question:

I would like you to write me a Class in Python that could hold the results of a gene expression analyses. Specifically, this would need to hold gene names and the expression level of that gene, along with a sample ID to differentiate between conditions or different runs. There should be a method that will add a new set of measurements. There should be one other method that, when given a gene name or ID, looks up that gene in all samples, and reports the expression level.

In your response, you need to give me the exact Python code for the structure of this class. However, you are free to replace the logic of these two methods with pseudocode (and I recommend you do this rather than try to code this for real).

In [1]:
#I use the pandas module to write a class, and understand how both of these work together.
import pandas as pd

In [2]:
#This is the example data frame, I use for writing the code.
Geneexp = pd.read_csv("GeneTest.csv").set_index("sample")
Geneexp

            204129_at  204230_s_at  204272_at  204475_at  204533_at
sample
condition1   8.290738     8.212118   7.463420  11.044883   8.553626
condition2   8.030865     7.406678   6.888128  10.746921  12.664537
control      8.506328     8.020269   7.305521  10.298966   6.727259
control      8.612935     8.476818   7.488691   9.555710   7.182239

In [5]:
#class is defined
class GeneExp:
    #passing the parameter gene expression data in the constructor
    def __init__(self,geneExp):
        self.geneExp = geneExp

    #In this method, geneid is searched within the given dataframe.
    def findGene(self,geneid):
        #transpose the data to set rows as genes
        transposeData = self.geneExp.T.reset_index()   
        # finding the gene from the given data with their expression levels in each sample.
        dataVal = transposeData[transposeData["index"]==geneid]s
        return dataVal

    #In this method, the dataframe is pass to find
    #the highest value of gene expression in each sample and stored it in new column
    def highVal(self):
        # finding the highest gene expression value from each sample
        maxVal = self.geneExp.max(axis=1)
        # adding them into a new column
        self.geneExp['Highest Value'] = maxVal
        #converted into a dataframe and returned it
        df_new = pd.DataFrame(self.geneExp)
        return df_new
#exit the class

In [7]:
#a class is called by passing the dataframe argument
gene_data = GeneExp(Geneexp)

# method is called that takes the argument gene id
print("The gene ID is match in the Dataframe to return the Expression Level in each sample:\n")
dataVal = gene_data.findGene("204230_s_at")
print(dataVal)

print("\nThe Dataframe is shown with new added column: ")
# another method is called to add a column within the existing dataframe
df_new = gene_data.highVal()
df_new

The gene ID is match in the Dataframe to return the Expression Level in each sample:

sample        index  condition1  condition2   control   control
1       204230_s_at    8.212118    7.406678  8.020269  8.476818

The Dataframe is shown with new added column:

,204129_at,204230_s_at,204272_at,204475_at,204533_at,Highest Value
sample,,,,,,
condition1,8.290738,8.212118,7.463420,11.044883,8.553626,11.044883
condition2,8.030865,7.406678,6.888128,10.746921,12.664537,12.664537
control,8.506328,8.020269,7.305521,10.298966,6.727259,10.298966
control,8.612935,8.476818,7.488691,9.555710,7.182239,9.555710